@define-color  black  rgba(29, 28, 26, 0.7);
@define-color  white  rgba(250, 248, 246, 0.75);
@define-color  pink  rgba(253, 240, 247, 0.6);
@define-color  transparent  rgba(255, 255, 255, 0.005);

* {
    font-family: Maple Mono;
    color: @white;
    background-color: @transparent;
    border: 1px solid @transparent;
}

#network,
#battery,
#pulseaudio,
#workspaces,
#clock {
    border: 2px solid @white;
    padding: 0px 10px;
    border-radius: 10px;
}

#workspaces button {
    padding: 0px 5px;
    color: @white;
}

#workspaces button:hover {
    padding: 0px 5px;
    border: none;
    box-shadow: none;
    background: rgba(250, 248, 246, 0.3);
    transition: background-color 0.1s ease-in-out;
}
