@define-color  black  rgba(29, 28, 26, 0.7);
@define-color  white  rgba(250, 248, 246, 0.75);
@define-color  pink  rgba(253, 240, 247, 0.6);
@define-color  transparent  rgba(255, 255, 255, 0.005);

* {
    font-family: MapleMono;
    color: @black;
    border-radius: 10px;
    margin: 0px 1px;
}

window#waybar {
	background-color: @transparent;
	border: 2px solid @transparent;
}

#battery,
#power-profiles-daemon,
#clock {
    background-color: @white;
    border: none;
    padding: 10px 0px;
    border-radius: 10px;
}

#backlight {
    background-color: @white;
    border: none;
    padding: 10px 4px;
    border-radius: 10px;
}

#network {
	background-color: @black;
	color: @white;
	padding: 10px 4px;
	margin-bottom: 10px;
}

#pulseaudio {
    background-color: @white;
    border: none;
    padding: 10px 4px;
    border-radius: 10px;
}

#tray {
	background-color: @black;
	border-radius: 10px;
	margin-top: 10px;
	padding: 10px 4px;
}

#tray button {
	background-color: @white;
}

#workspaces {
	background-color: @white;
	border-radius: 10px;
	border-left: none;
	padding: 3px 4px;
}

#workspaces button {
    padding: 3px 4px;
    color: @transparent;
}

#workspaces button:hover {
    padding: 3px 4px;
    border: 0.1em solid @transparent;
    background: rgba(250, 248, 246, 0.65);
    box-shadow: none;
    text-shadow: none;
    transition: background-color 0.5s ease-in-out;
}
