@define-color white rgba(250, 248, 246, 0.75);

@define-color black rgba(29, 28, 26, 0.75);

@define-color transparent rgba(29, 28, 26, 0.5);

@define-color red rgba(210, 100, 102, 0.75);
@define-color red-light rgba(233, 178, 179, 0.75);

@define-color orange rgba(237, 148, 84, 0.75);
@define-color orange-light rgba(252, 166, 105, 0.75);

@define-color yellow rgba(248, 241, 174, 0.75);
@define-color yellow-light rgba(252, 248, 215, 0.75);

@define-color green rgba(179, 207, 153, 0.75);
@define-color green-light rgba(217, 231, 204, 0.75);

@define-color cyan rgba(164, 216, 216, 0.75);
@define-color cyan-light rgba(210, 236, 236, 0.75);

@define-color blue rgba(201, 214, 232, 0.75);
@define-color blue-light rgba(228, 235, 244, 0.75);

@define-color purple rgba(154, 127, 174, 0.75);
@define-color purple-light rgba(205, 191, 215, 0.75);

@define-color pink rgba(240, 182, 213, 1);
@define-color pink-light rgba(248, 219, 234, 1);



@define-color accent_color @white;
@define-color accent_bg_color @white;
@define-color accent_fg_color @black;

@define-color destructive_color @red-light;
@define-color destructive_bg_color @red;
@define-color destructive_fg_color @white;

@define-color success_color @green-light;
@define-color success_bg_color @green;
@define-color success_fg_color @white;

@define-color warning_color @orange-light;
@define-color warning_bg_color @orange;
@define-color warning_fg_color @white;

@define-color error_color @red;
@define-color error_bg_color @red;
@define-color error_fg_color @white;

@define-color window_bg_color @black;
@define-color window_fg_color @white;

@define-color view_bg_color rgba(29, 28, 26, 1);
@define-color view_fg_color @white;

@define-color headerbar_bg_color @black;
@define-color headerbar_fg_color @white;
@define-color headerbar_border_color @white;
@define-color headerbar_backdrop_color @white;
@define-color headerbar_shade_color @white;

@define-color card_bg_color @white;
@define-color card_fg_color @white;
@define-color card_shade_color @white;

@define-color dialog_bg_color transparent;
@define-color dialog_fg_color @white;

@define-color popover_bg_color @black;
@define-color popover_fg_color @white;

@define-color shade_color transparent;
@define-color scrollbar_outline_color transparent;

@define-color borders transparent;

@define-color sidebar_bg_color transparent;
@define-color sidebar_fg_color @white;
@define-color sidebar_backdrop_color @white;
@define-color sidebar_shade_color @white;


/*
window contents {
    background: @surface-strongest;
    box-shadow: none;
}
*/

popover contents, popover arrow {
	background: @black;
}

.solid-csd {
	padding: 0;
}

headerbar {
    padding: 0.3em;
    padding-top: calc(0.3em + 3px);
}
